@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

:root {

  --primer: hsl(215, 51%, 70%);
  --sec: hsl(178, 100%, 50%);
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --write-line: hsl(215, 32%, 27%);
}

body {
  background-color: var(--main-bg);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--card-bg);
  padding: 20px;
  border-radius: 16px;
  width: 350px;
  height: 550px;
  margin: 20px auto;
}

.container .image img {
  width: 100%;
  border-radius: 16px;
  display: block;
}

.container .image {
  position: relative;
}

.container .image div {
  position: absolute;
  transition: 0.3s;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  border-radius: 16px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eye {
  display: none;
  transition: 0.3s;
}

.container .image:hover .eye {
  display: block;
}

.container .image:hover div {
  background-color: hsl(178deg 100% 50% / 20%);
}

h2 {
  color: white;
  margin: 10px 0;
  transition: 0.3s;
}

h2:hover {
  color: var(--sec);
}

.text p {
  font-size: 18px;
  color: var(--primer);
  margin-bottom: 20px;
}

.group {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.price {
  color: var(--sec);
}

.time {
  color: var(--primer);
}

hr {
  margin-top: 20px;
  width: 100%;
  border: 1px solid var(--primer);
  outline: none;
}

.last {
  margin-top: 20px;
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;
}

.last img {
  width: 24px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}

.last p {
  color: var(--primer);
}

.last span {
  color: white;
  transition: 0.3s;
}

.last span:hover {
  color: var(--sec);
}